bcrypt==4.2.0
blinker==1.8.2
certifi==2020.6.20
chardet==4.0.0
click==8.1.7
cryptography==3.4.8
dnspython==2.1.0
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
idna==3.3
itsdangerous==2.2.0
Jinja2==3.1.4
Markdown==3.3.6
MarkupSafe==2.1.5
mysql-connector-python==9.0.0
pillow==11.2.1
Pygments==2.11.2
pymysql==1.1.2
pyotp==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
PyYAML==6.0.2
qrcode==8.2
requests==2.32.5
requests-toolbelt==0.9.1
SQLAlchemy==2.0.44
six==1.16.0
urllib3==1.26.5
Werkzeug==3.0.4
redis==6.4.0
apns2==0.7.2
hyper==0.7.0